// 字体大小变量
$font-size-s: 14px;
$font-size-n: 16px;
$font-size-l: 18px;
// 颜色变量
$color-white: #fff;
$color-text: #575757;
$color-bg-d: #222b45;
$color-bg-dd: #1c253f;
$color-main-bg: #f1f1f1;
// 按钮颜色
$btn-color: #333;
$btn-border-color: #ccc;

// 皮肤
$btn-bg-color: #309ee9; // 主色
$color-bg: #2f9de8; // 左上角的title的颜色
$color-menu: #2d88c8; // 菜单的选中的颜色
$color-text-d: #4c7ffe; // 菜单划过的颜色
